@font-face {
  font-family: FFF Forward;
  src: url('./FFFFORWA.TTF');
} 

body, html {
  background-color: #000000;
  margin: 0;
  overflow: hidden;
}

#canvas {
  border: 1px solid white;
  min-height: 700px;
  max-width: 900px;
}

.stats {
  position: relative;
  float: right;
  width: 4.375rem;
}

.stats-content {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  width: 3rem;
  bottom: 0.625rem;
  right: 0.625rem;
}

.stats-content--score {
  font-family: 'FFF Forward';
  font-size: small;
  text-align: center;
  margin-top: 0.5rem;

  &#highScore {
    color: limegreen;
  }

  &#score {
    margin-top: 1rem;
    padding-top: 0.5rem;
    color: white;
    border-top: 1px solid white;
  }
}

.icon--life {
  content: url(../static/player_icon.webp);
  height: 2.5rem;
  width: 3rem;
  margin-top: 0.5rem;
}

.content {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

#github-logo {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 0.75rem;
  right: 0.75rem;
}